Package: chruby
Version: 0.3.9-1
Architecture: amd64
Maintainer: Ed Clements <ed.clements+deb@gmail.com>
Installed-Size: 32
Section: ruby
Priority: optional
Homepage: https://github.com/postmodern/ruby-install
Description: Changes the current Ruby
 Enables switching the Ruby used for different projects by updating $PATH
